
.holder {
  display: flex;
  justify-content: center;
}

.controls {
  position: fixed;
  margin-top: 70vh;
  display: flex;
  justify-content: center;
  width: 100%;

}

button {
  padding: 5px 40px;
  text-align: center;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  color: rebeccapurple;
  background-color: #gh643f;
  cursor: pointer;
  outline: none;
  &:active {
    background-color: #b6b6b6;
    color: #68366d;
  }
}

